---
layout: default
---


<div class="container-fluid gallery">
  <div class="row">
    <div class="col-sm-4">
      <figure>
        <img src="{{ site.baseurl }}/art/1.jpg"/>
        <figcaption>This is a figcaption! Let's see what happens if I put a shitload of text in here. Wheeeeee eeeee eeeeeeee eeeeeee eeeeee!</figcaption>
      </figure>
    </div>
    <div class="col-sm-4">
      <figure>
        <img src="{{ site.baseurl }}/art/2.jpg"/>
        <figcaption>This is a figcaption!</figcaption>
      </figure>
    </div>
    <div class="col-sm-4">
      <figure>
        <img src="{{ site.baseurl }}/art/3.jpg"/>
        <figcaption>This is a figcaption!</figcaption>
      </figure>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-4">
      <figure>
        <img src="{{ site.baseurl }}/art/1.jpg"/>
        <figcaption>This is a figcaption!</figcaption>
      </figure>
    </div>
    <div class="col-sm-4">
      <figure>
        <img src="{{ site.baseurl }}/art/2.jpg"/>
        <figcaption>This is a figcaption!</figcaption>
      </figure>
    </div>
    <div class="col-sm-4">
      <figure>
        <img src="{{ site.baseurl }}/art/3.jpg"/>
        <figcaption>This is a figcaption!</figcaption>
      </figure>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-4">
      <figure>
        <img src="{{ site.baseurl }}/art/1.jpg"/>
        <figcaption>This is a figcaption!</figcaption>
      </figure>
    </div>
    <div class="col-sm-4">
      <figure>
        <img src="{{ site.baseurl }}/art/2.jpg"/>
        <figcaption>This is a figcaption!</figcaption>
      </figure>
    </div>
    <div class="col-sm-4">
      <figure>
        <img src="{{ site.baseurl }}/art/3.jpg"/>
        <figcaption>This is a figcaption!</figcaption>
      </figure>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-4">
      <figure>
        <img src="{{ site.baseurl }}/art/1.jpg"/>
        <figcaption>This is a figcaption!</figcaption>
      </figure>
    </div>
    <div class="col-sm-4">
      <figure>
        <img src="{{ site.baseurl }}/art/2.jpg"/>
        <figcaption>This is a figcaption!</figcaption>
      </figure>
    </div>
    <div class="col-sm-4">
      <figure>
        <img src="{{ site.baseurl }}/art/3.jpg"/>
        <figcaption>This is a figcaption!</figcaption>
      </figure>
    </div>
  </div>
</div>
